<div class="bg-white p-2 rounded" data-controller="form-error">

  <%= form_with(model: @about, html: { data: { type: "html",
                       action: "ajax:error->form-error#onPostError" } }) do |form| %>
    <%= form.text_field :title, label: false, required: true, maxlength: 400, placeholder: 'Заголовок', class: 'form-control mb-1' %>
    <%= form.rich_text_area :body, class: 'text-left text-dark' %>

    <ul class="post-errors" data-target="form-error.postErrors"></ul>
    <div class="flex items-center">
      <%= render 'application/progress_upload' %>
      <%= content_tag(:button, 'Сохранить', type: 'submit', class: 'btn btn-primary') %>
      <%= link_to 'Отмена', root_path(anchor: 'center'), class: 'btn btn-warning' %>
    </div>
  <% end %>
</div>
