<div class="bg-white p-2 rounded" data-controller="form-error">

  <%= form_with(model: @resident, html: { data: { type: "html",
                       action: "ajax:error->form-error#onPostError" } }) do |form| %>
    <%= form.text_field :name, label: false, required: true, maxlength: 400, placeholder: 'Ф.И.О.', class: 'form-control mb-1' %>
    <%= form.rich_text_area :body, class: 'text-left text-dark', placeholder: 'Коротко о сотруднике, профессия и должность' %>
    <%= form.file_field :photo, direct_upload: true, class: 'mb-2 mt-1' %>

    <ul class="post-errors" data-target="form-error.postErrors"></ul>
    <div class="flex items-center">
      <%= render 'application/progress_upload' %>

      <%= content_tag(:button, 'Сохранить', type: 'submit', class: 'btn btn-primary') %>
      <%= link_to 'Отмена', root_path(anchor: 'center'), class: 'btn btn-warning' %>
    </div>
  <% end %>
</div>
