<div class="bg-white p-2 rounded" data-controller="form-error">

  <%= form_with(model: @post, html: { data: { type: "html",
                       action: "ajax:error->form-error#onPostError" } }) do |form| %>
    <%= form.text_field :title, label: false, required: true, maxlength: 400, placeholder: 'Заголовок', class: 'form-control mb-1' %>
    <%= form.rich_text_area :body, class: 'text-left text-dark' %>

    <div class="mt-3" data-controller="nested-form">
      <template data-target="nested-form.template">
        <%= form.fields_for :youtubes, Youtube.new, child_index: 'NEW_RECORD' do |task| %>
          <%= render "youtube_fields", form: task %>
        <% end %>
      </template>
      <div class="m-3" data-target="nested-form.links">
        <%= link_to "Добавить видео с YouTube", "#", class: "btn btn-light", data: { action: "click->nested-form#add_association" } %>
      </div>
    </div>
    <%= form.file_field :photo, direct_upload: true, class: 'mb-2 mt-1' %>
    <ul class="post-errors" data-target="form-error.postErrors"></ul>
    <div class="flex items-center">
      <%= render 'application/progress_upload' %>
      <%= content_tag(:button, 'Сохранить', type: 'submit', class: 'btn btn-primary') %>
      <%= link_to 'Отмена', root_path(anchor: 'news'), class: 'btn btn-warning' %>
    </div>
  <% end %>
</div>
