<% content_for :menu do %>
  <%= render('menu') %>
<% end %>

<div>
  <h1>
    <%= @post.title %>
  </h1>

  <div class="lead">
    <%= @post.body %>
  </div>

  <%= link_to 'Изменить', edit_post_path(@post), class: 'btn btn-warning' if can? :manage, @post %>
  <%= link_to 'Назад', root_path(anchor: 'news') %>
</div>
