<%= form_with(model: @header) do |form| %>
  <%= form.text_field :one, label: false, required: true, maxlength: 400, class: 'form-control mb-1' %>
  <%= form.text_field :two, label: false, required: true, maxlength: 400, class: 'form-control mb-1' %>
  <%= form.text_field :tree, label: false, required: true, maxlength: 400, class: 'form-control mb-1' %>

  <div class="flex items-center">
    <%= content_tag(:button, 'Сохранить', type: 'submit', class: 'btn btn-primary') %>
    <%= link_to 'Отмена', root_path, class: 'hover:bg-red-600 bg-red-400 text-white py-3 px-4' %>
  </div>
<% end %>
